@use '../helpers' as *;

.core {
    background-color: var(--color-form);

    &__title {
        padding-top: rem(80);
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: rem(24);

        &-description {
            color: var(--color-text);
            font-size: rem(18);
        }
    }

    &__body {
        padding-top: rem(60);
        padding-bottom: rem(126);
        display: flex;
        justify-content: space-between;

        @include tablet {
            flex-direction: column;
            align-items: center;
            row-gap: rem(40);
        }

        &-div {
            border: var(--borderGrey);
            opacity: 0.3;

            @include tablet {
                width: rem(275);
            }
        }

        &-card {
            max-width: rem(285);
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: rem(8);

            &--svg {
                width: rem(48);
                height: rem(48);
                color: var(--color-orange);
            }

            &--title {
                padding-top: rem(16);
                font-size: rem(20);
            }

            &--description {
                text-align: center;
                font-size: rem(16);
                color: var(--color-text);
            }
        }
    }

    &__block {
        &-div {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &--title {
                @include fluid-text(46, 30)
            }
        }

        &-div2 {
            display: flex;
            row-gap: rem(12);

            &--svg {
                width: rem(24);
            }
        }

        &-center {
            padding-top: rem(60);
            display: flex;
            justify-content: space-between;

            @include tablet {
                flex-direction: column;
                row-gap: rem(20);
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            align-items: start;
            row-gap: rem(20);
        }

        &-description {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: rem(32);
            font-weight: 700;
            font-size: rem(28);

            &::before {
                content: ' ';
                width: rem(18);
                height: rem(18);
                color: var(--color-form);
                background: url('../../icons/core/ellipseGrey.svg') center/cover no-repeat;
            }
        }

        &-img {
            padding-bottom: rem(100);
            display: flex;
            flex-direction: column;
            row-gap: rem(36);

            &--description {
                font-size: rem(16);
                color: var(--color-text);
            }
        }
    }
}