@use '../helpers' as *;

.footer {
    padding-block: rem(80);
    background-color: var(--color-darkGrey);

    &__title {
        display: flex;
        justify-content: space-between;

        @include tablet {
            flex-direction: column;
            align-items: center;
            row-gap: rem(40);
        }

        &-block1 {
            display: flex;
            flex-direction: column;
            row-gap: rem(24);
        }

        &-contacts {
            display: flex;
            align-items: center;
            column-gap: rem(60);

            @include mobile {
                flex-direction: column;
                row-gap: rem(20);
            }
        }

        &-list {
            display: flex;
            column-gap: rem(16);
        }

        &-link {
            width: rem(24);
            height: rem(24);
            color: var(--color-grey);
        }
        
        &-description {
            font-size: rem(14);
        }

        &-block2 {
            display: flex;
            flex-direction: column;
            row-gap: rem(20);

            &--title {
                font-size: rem(24);
                color: var(--color-light);
            }

            &--description {
                font-size: rem(12);
            }
        }

        &-subscribe {
            display: flex;

            @include mobile {
                flex-direction: column;
                row-gap: rem(10);
            }

            &--input {
                width: 100%;
                padding: rem(10) rem(20);
                font-size: rem(14);
                background: rgba(255, 255, 255, 0.12);
                border: 1px solid rgba(255, 255, 255, 0.2);
                color: var(--color-light);
                border-radius: 4px 0 0 4px;

                @include hover {
                    border-color: var(--color-orange);
                }
            }

            &--button {
                border-radius: 0 4px 4px 0;
                padding-inline: rem(25);
            }
        }
    }

    &__body {
        padding-top: rem(73);
        display: flex;
        column-gap: rem(118);

        @include tablet {
            flex-wrap: wrap;
            row-gap: rem(30);
            align-items: center;
            justify-content: start;
        }

        &-block {
            display: flex;
            justify-items: start;
            flex-direction: column;
            row-gap: rem(13);

            &--title {
                font-size: rem(16);
                color: var(--color-light);
            }
        }

        &-div {
            display: flex;
            column-gap: rem(4);

            &--description {
                @include fluid-text(20, 16);
            }

            &--link {
                @include fluid-text(20, 16);

                color: var(--color-light);
                opacity: 0.4;
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            row-gap: rem(4);
        }

        &-link {
            color: var(--color-light);
            opacity: 0.4;
            font-size: rem(16);
        }
    }

    &__top {
        padding-top: rem(80);
        display: flex;
        align-items: end;
        justify-content: space-between;

        @include mobile {
            flex-direction: column;
            row-gap: rem(30);
        }

        &-block {
            display: flex;
            column-gap: rem(4);

            @include mobile {
                flex-direction: column;
                row-gap: rem(10);
            }

            &--description {
                color: var(--color-light);
                font-size: rem(16);
            }

            &--svg {
                display: flex;
                align-items: center;
                column-gap: rem(4);
                color: var(--color-light);
                font-size: rem(16);

                &::before {
                    content: ' ';
                    width: rem(16);
                    height: rem(16);
                    background: url('../../icons/footer/Heart.svg') center/cover no-repeat;
                }
            }
        }

        &-block2 {
            display: flex;
            align-items: end;
            column-gap: rem(16);

            &--description {
                color: var(--color-light);
                font-size: rem(16);
            }

            &--button {
                display: flex;
                width: rem(40);
                height: rem(40);
                padding: rem(8);
            }
        }
    }
}