@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
:where(p:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "NataSans";
  src: url("../fonts/NataSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-grey: #bababa;
  --color-darkGrey: #1E212C;
  --color-form: #F4F5F7;
  --color-orange: #FF5A30;
  --color-lightOrange: #F89828;
  --color-red: #F52F6E;
  --color-blue: #5A87FC;
  --color-green: #03CEA4;
  --background-form: rgba(255, 255, 255, 0.12);
  --font-family-base: "NataSans", sans-serif;
  --font-family-accent: "Ubuntu", sans-serif;
  --borderLight: 0.0625rem solid var(--color-light);
  --borderGrey: 0.0625rem solid var(--color-grey);
  --box-shadowOrange: 0px 60px 80px -20px rgba(255, 90, 48, 0.16), 0px 26px 24px -10px rgba(255, 90, 48, 0.1), 0px 12px 10px -6px rgba(255, 90, 48, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  --box-shadowGrey: box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  --container-width: 76.875rem;
  --container-padding-x: 1rem;
  --transition-duration: 0.2s;
}
@media (width <= 90.06125rem) {
  :root {
    --container-width: 76.875rem;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.button {
  color: var(--color-light);
  background-color: var(--color-orange);
  border: none;
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.625rem 2.5rem;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: transparent;
    border: var(--borderLight);
  }
}
@media (any-hover: none) {
  .button:active {
    background-color: transparent;
    border: var(--borderLight);
  }
}

.button-hidden {
  opacity: 0;
  visibility: hidden;
}

.menu-drop {
  right: 40px;
  flex-direction: column;
  width: 75px !important;
  max-height: 180px !important;
  transition: max-height 0.2s;
}

.is-active {
  opacity: 1 !important;
  transition-duration: ease 0.2s;
}

.play-button {
  opacity: 0;
}
@media (any-hover: hover) {
  .play-button:hover {
    opacity: 1;
  }
}
@media (any-hover: none) {
  .play-button:active {
    opacity: 1;
  }
}

body {
  font-size: clamp(1.5rem, 1.6208677686rem + -0.4958677686vw, 1.125rem);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  letter-spacing: -0.03em;
  color: var(--color-grey);
  background-color: var(--color-light);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: var(--color-dark);
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-orange);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-orange);
  }
}
a[class] {
  text-decoration: none;
}

p {
  font-family: var(--font-family-base);
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-dark);
  font-family: var(--font-family-accent);
  letter-spacing: 1px;
  line-height: 1.3;
}

h1 {
  font-size: clamp(2rem, 1.194214876rem + 3.305785124vw, 4.5rem);
}

h2, h3 {
  font-size: clamp(1.875rem, 1.5526859504rem + 1.3223140496vw, 2.875rem);
}

h4 {
  font-size: clamp(1rem, 0.9194214876rem + 0.3305785124vw, 1.25rem);
}

.header {
  padding-block: 1.375rem;
  display: flex;
  justify-content: center;
  column-gap: 10.75rem;
}
@media (width <= 90.06125rem) {
  .header {
    flex-direction: column;
    align-items: center;
    row-gap: 1.875rem;
  }
}
@media (width <= 47.99875rem) {
  .header {
    padding-inline: 1.375rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    column-gap: 0;
  }
}
.header__body {
  display: flex;
  align-items: center;
  column-gap: 3.75rem;
}
@media (width <= 47.99875rem) {
  .header__body {
    row-gap: 0.625rem;
    flex-direction: column;
  }
}
.header__body-list {
  display: flex;
  column-gap: 2.5rem;
}
@media (width <= 47.99875rem) {
  .header__body-list {
    width: 0;
    max-height: 0;
    overflow-y: hidden;
    transition-duration: 0.2s;
  }
}
.header__body-link {
  font-size: 1rem;
  font-weight: 700;
}
.header__title {
  display: flex;
  align-items: center;
  column-gap: 2.25rem;
}
@media (width <= 47.99875rem) {
  .header__title {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
    flex-direction: column;
    align-items: start;
    row-gap: 0.625rem;
  }
}
.header__title-div1 {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
}
.header__title-div1::before {
  content: " ";
  width: 2.5rem;
  height: 2.375rem;
  background: url("../../icons/header-phone.svg");
}
.header__title-div2 {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
}
.header__title-div2::before {
  content: " ";
  width: 2.5rem;
  height: 2.375rem;
  background: url("../../icons/header-chat.svg");
}
.header__title-block {
  display: flex;
  flex-direction: column;
}
.header__title-description {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--color-dark);
}
.header__title-contacts {
  font-size: 1.125rem;
}
.header__button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  row-gap: 0.3125rem;
  width: 2.5rem;
  height: 1.875rem;
  background-color: transparent;
  border: none;
}
@media (width <= 47.99875rem) {
  .header__button {
    opacity: 1 !important;
    visibility: visible !important;
  }
}
.header__button-slash {
  width: 100%;
  height: 0.125rem;
  background-color: var(--color-darkGrey);
  border-radius: 0.375rem;
}
.header__button-slash:nth-child(3) {
  width: 0.9375rem;
}

.createx {
  background: url("../../images/createx/bg.png") center/cover no-repeat;
}
.createx__title {
  padding-top: 13.75rem;
  padding-inline: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16.5625rem;
}
@media (width <= 47.99875rem) {
  .createx__title {
    padding-inline: 0.9375rem;
    padding-top: 2.5rem;
  }
}
.createx__title-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  aspect-ratio: 1;
  background: var(--color-light);
  opacity: 0.5;
  border-radius: 50%;
  border: none;
}
@media (width <= 63.99875rem) {
  .createx__title-button {
    display: none;
  }
}
@media (any-hover: hover) {
  .createx__title-button:hover {
    opacity: 1;
    background: var(--color-light);
  }
}
@media (any-hover: none) {
  .createx__title-button:active {
    opacity: 1;
    background: var(--color-light);
  }
}
.createx__title-svg {
  width: 1.4375rem;
  height: auto;
}
.createx__title-blocks {
  display: flex;
  flex-direction: column;
  row-gap: 3.8125rem;
  margin-left: -20rem;
}
@media (width <= 63.99875rem) {
  .createx__title-blocks {
    margin-left: 0;
  }
}
.createx__title-blocks--title {
  color: var(--color-light);
}
.createx__title-blocks--letter {
  color: var(--color-orange);
}
.createx__title-blocks--description {
  font-size: clamp(1rem, 0.9194214876rem + 0.3305785124vw, 1.25rem);
  color: var(--color-light);
}
.createx__title-blocks1 {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.createx__title-blocks2 {
  display: flex;
  column-gap: 1.5rem;
}
@media (width <= 47.99875rem) {
  .createx__title-blocks2 {
    flex-direction: column;
    row-gap: 1.5rem;
  }
}
.createx__title-blocks2--button {
  color: var(--color-light);
  background-color: transparent;
  border: var(--borderLight);
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.625rem 2.5rem;
  white-space: nowrap;
}
@media (any-hover: hover) {
  .createx__title-blocks2--button:hover {
    background-color: var(--color-orange);
    border: 0.0625rem solid var(--color-orange);
  }
}
@media (any-hover: none) {
  .createx__title-blocks2--button:active {
    background-color: var(--color-orange);
    border: 0.0625rem solid var(--color-orange);
  }
}
.createx__title-blocks2--button:nth-child(2) {
  background-color: var(--color-orange);
  border: 0.0625rem solid var(--color-orange);
}
@media (any-hover: hover) {
  .createx__title-blocks2--button:nth-child(2):hover {
    background-color: transparent;
    color: var(--color-orange);
  }
}
@media (any-hover: none) {
  .createx__title-blocks2--button:nth-child(2):active {
    background-color: transparent;
    color: var(--color-orange);
  }
}
.createx__body {
  margin-left: -8.75rem;
  padding-top: 11.1875rem;
  padding-bottom: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.25rem;
}
@media (width <= 63.99875rem) {
  .createx__body {
    padding-left: 2rem;
    padding-top: 1.875rem;
    align-items: start;
    margin-left: 0;
    flex-direction: column;
  }
}
@media (width <= 47.99875rem) {
  .createx__body {
    padding-left: 0.9375rem;
  }
}
.createx__body-button {
  padding-block: 0.75rem;
  padding-right: 9.375rem;
  background-color: transparent;
  color: var(--color-light);
  font-size: 1.75rem;
  font-weight: 700;
  border: none;
  border-bottom: 0.125rem solid var(--color-light);
  border-radius: 0.0625rem;
  opacity: 0.3;
}

.values__title {
  padding-top: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3.75rem;
  position: relative;
}
@media (width <= 47.99875rem) {
  .values__title {
    padding-top: 3.75rem;
  }
}
.values__title-description {
  font-size: 1.125rem;
  text-align: center;
}
@media (width <= 47.99875rem) {
  .values__title-description {
    text-align: start;
  }
}
.values__title-video {
  border-radius: 0.25rem;
}
.values__title-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 62%;
  background-color: var(--color-orange);
  border: 0.0625rem solid var(--color-orange);
  border-radius: 50%;
  width: 5rem;
  aspect-ratio: 1;
}
@media (width <= 47.99875rem) {
  .values__title-button {
    width: 3.125rem;
    top: 70%;
  }
}
@media (any-hover: hover) {
  .values__title-button:hover {
    opacity: 0.6;
    border: 0.0625rem solid var(--color-light);
  }
}
@media (any-hover: none) {
  .values__title-button:active {
    opacity: 0.6;
    border: 0.0625rem solid var(--color-light);
  }
}
.values__title-svg {
  color: var(--color-light);
  width: 1.625rem;
  aspect-ratio: 1;
}
@media (width <= 47.99875rem) {
  .values__title-svg {
    width: 1rem;
  }
}
.values__title-valume {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  aspect-ratio: 1;
  border: 0.0625rem solid var(--color-darkGrey);
  background-color: var(--color-darkGrey);
  opacity: 0.3;
  border-radius: 50%;
  position: absolute;
  top: 92%;
  right: 94%;
}
@media (width <= 63.99875rem) {
  .values__title-valume {
    top: 90%;
    right: 90%;
  }
}
@media (width <= 47.99875rem) {
  .values__title-valume {
    width: 1.875rem;
    top: 91%;
    right: 91%;
  }
}
@media (any-hover: hover) {
  .values__title-valume:hover {
    opacity: 1;
  }
}
@media (any-hover: none) {
  .values__title-valume:active {
    opacity: 1;
  }
}
.values__title-svgTwo {
  color: var(--color-light);
}
.values__body {
  padding-top: 11.25rem;
}
@media (width <= 47.99875rem) {
  .values__body {
    padding-top: 5rem;
  }
}
.values__body-block1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.values__body-description {
  font-size: 1.125rem;
  text-align: center;
}
.values__body-block2 {
  padding-top: 3.75rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5.625rem;
}
@media (width <= 63.99875rem) {
  .values__body-block2 {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.875rem;
  }
}
@media (width <= 47.99875rem) {
  .values__body-block2 {
    grid-template-columns: 1fr;
  }
}
.values__body-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.9375rem;
  border-inline: 0.0625rem solid var(--color-grey);
  border-radius: 1.25rem;
}
.values__body-svg {
  width: 3rem;
  aspect-ratio: 1;
  color: var(--color-orange);
}
.values__body-p {
  font-size: 1rem;
  text-align: center;
}

@media (max-width: 550px) {
  .values__title-button {
    top: 75%;
  }
  .values__title-valume {
    top: 91%;
    right: 89%;
  }
}
@media (max-width: 460px) {
  .values__title-valume {
    top: 90%;
    right: 86%;
  }
}
@media (max-width: 330px) {
  .values__title-button {
    top: 82%;
  }
  .values__title-valume {
    top: 91%;
    right: 83%;
  }
}

/*# sourceMappingURL=main.css.map */
